# AWS
AWS_REGION=

# Cognito
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

# DynamoDB Tables
DYNAMODB_USERS_TABLE=
DYNAMODB_BLOGS_TABLE=
DYNAMODB_COMMENTS_TABLE=
DYNAMODB_REACTIONS_TABLE=

# S3
S3_BUCKET_NAME=
